/* STYLED GLOBALS */

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}

body {
    background-color: #eee;
    font-size: 20px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}
