h2 {
    font-size: 30px;
    color: #666;
    border-radius: 3px;
    padding-left: 10px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 20px;
    font-weight: 500;
    display: flex;
    text-align: center;
    padding-top: 50px;
}
